html{
   scroll-behavior: smooth;
 
}

body {
    line-height: 30px;
   padding: 0px;
   margin:0px;
   background-color: lightgray;

}

.main-container{
  font-family:'opensans-regular',sans-serif;
  min-height: 150px;
  text-align: center;
  color:#ffffff;
  padding-top: 10px;
  background-color:#2E4351;
  padding-bottom: -5px;
  margin-bottom: 30px;
  font-size: 20px;

 }
 
   .content{
  font-family:'opensans-regular',sans-serif  ;
  text-align: center;
  color:#ffffff;
  padding-bottom: 20px;
  margin-top: -100px;
  background-color: #3A5267;
  margin-bottom: 10px;
  min-height: 50px;
  max-width: 100%;
  padding-top: 20px;
  font-size: 25px;
}
.content2{
  color: grey;
 padding-left: 70px;
}

.para1{
  letter-spacing: 0.5rem;
  color:yellow;
  font-size: 15px;

}

.cont{
    /*margin-right: 190px;*/
    font-size: 20px;
    padding-left: 323px;
    float: right;
    text-align:justify;
    /*font-weight: lighter;*/
    font-family: 'opensans-regular',sans-serif;
    background-color: #fff;
    color:#6B6B6B;
    /*padding-bottom: 30px;*/
    padding-right:20px;

}
.image{
    float:left;
    padding-left:0px ;
    padding-top: 10px;
    margin-top: 20px;
    margin-left:70px;
    position: absolute;
    height: 400px;
}

.image, img{
  height:200px;
  width: 200px;
}
.content2{
width: 78%;
margin-left: 50px;
height: 80%;
color:grey;
padding-top:30px ;
text-align:center;
padding-right:150px ;
font-family: 'opensans-regular',sans-serif;
padding-left:150px;
padding-bottom: 100px;
margin-bottom: -70px;
align-items: center;


}
.para{
  padding-top: 10px;
  text-align: left;
  color:#6B6B6B;
  background-color:#F7CE06;
  width: 100%;
  height: 80px;
  font-family: 'opensans-regular',sans-serif;
margin-bottom: -10px;
  padding-left:30px;
  font-size: 30px;




}
.hobbies{
justify-content: center;
min-width:400px;
background-color: #fff;
min-height: 150px;
padding-bottom: 60px;
margin-right: 710px;
margin-left: 200px;
float: left;
margin-bottom: 20px;
margin-top: 50px;
padding-right: 0px;
color: #6B6B6B;
font-family: 'opensans-regular',sans-serif;
}

.about{
margin-left: -1px;
margin-right: -1px;
color: #6B6B6B;
font-size: 30px;
background-color: #F7CE06;
padding: 20px;
margin-top: 0px;
font-family: 'opensans-regular',sans-serif;
}
.Goals{
justify-content: center;
min-width:430px;
color: #6B6B6B;
background-color: #fff;
padding-bottom: 60px;
margin-left: 625px;
margin-right: 200px;
margin-top: -540px;
margin-bottom: 20px;
min-height: 150px;
float:left;
font-family: 'opensans-regular',sans-serif;


}
table{
margin: auto;
min-width: 100%;
}
table, td {
  border: 1px solid #6B6B6B;
  border-collapse: collapse;
}
th, td {
  padding: 20px;
  text-align: center;
}
th{
background-color: #fcd538;
text-align: center;
}
td{
background-color: white;

}
.table{
padding-top: 0px;
min-width: 855px;
min-height: 450px;
background-color: #F7CE06;
margin: 30px auto 0 auto;
margin-top: -270px;
color: #6B6B6B;
margin-left:200px;
}
.container {
height: 200px;
margin-top:50px;
background-color: #354457;
text-align: left;
padding-top: -50px;
padding-bottom: 100px;
margin-bottom: 20px;
color: #ffffff;
}
.footer{
margin-top:30px;
/*margin-left:200px;*/
/*padding-top:80px;*/
padding-right : 30px;
width: 100%;

}



